<div class="header">
  <h3 class="text-muted" id="bottom">oregon state parks</h3>
</div>

<div class="park-names">
	<input placeholder="search for a park . . ." ng-model="search.park_name">
	<div>	
		<div class="park" ng-repeat="park in parks | filter:search:strict">
			<div ng-click="setSelectedPark(park)">{{park.park_name}}</div>
		</div>
	</div>
</div>

<div class="park-details">

	<h4>{{selectedPark.park_name}}</h4>

	<div ng-controller="CarouselDemoCtrl">
	  <div class="pictures-carousel">
	    <carousel>
	      <slide ng-repeat="statePicture in statePictures">
	        <img ng-src="{{statePicture.imageFile}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <p>{{slide.text}}</p>
	        </div>
	      </slide>
	    </carousel>
	  </div>
	</div>

	<p>Instagram Pictures</p>
	<div ng-controller="CarouselDemoCtrl">
	  <div >
	    <carousel class="pictures-carousel">
	      <slide ng-repeat="picture in pictures" active="picture.active">
	        <img ng-src="{{picture.images.standard_resolution.url}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <p style="vertical-align: top">{{picture.caption.text}}</p>
	        </div>
	      </slide>
	    </carousel>
	  </div>
	</div>

	<div ng-bind-html="selectedPark.park_narrative | unsafe">
	</div>

	<div ng-repeat="parkTip in parkMessages"><p>{{parkTip.body}}</p></div>

	<h4>Area Tips</h4>	
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" ng-model="newMessage" ng-keydown="addMessage($event)">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Leave a Tip</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

</div>

